.botaocadastrar{
    border-radius: 40px;
    border: 2px solid gray;
    margin-left: 150px;
    margin-top: 40px;
}
.boxprincipal {
    background: linear-gradient(135deg, #faaade 0%, #a30064 100%);
    background-attachment: fixed;
}

.box1 {
    border-radius: 40px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 400px;
    height: auto;
    padding-bottom: 20px;
}

.box2 {
    margin-top: 50px;
    padding-top: 50px;
}

.titulologin {
    color: #a30064;
    text-align: center;
    padding: 10px;
}

.botaologin-principal {
    color: #FFFFFF;
    background-color: #a30064;
    width: 200px;
    margin-left: 100px;
    margin-top: 40px;
}

.botaologin-principal:hover {
    border: 1px solid #a30064;
    border-radius: 10px;
    color: black;
}

.titulologar {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #6D6D6D;
}

.body_doctord {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    margin: 0;
}

.body_cadastrarp {
    font-family: Arial, sans-serif;
    background-color: #FFE4E1;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-exam {
    margin-top: 30%;
    margin-left: 120px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza os cards */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; 
    max-width: 200px;
    height: 100vh;
    background-color: #FFB6C1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 2px solid #FF6F91; 
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); 
}

.sidebar a {
    color: white; 
    text-decoration: none; 
    margin: 15px 0; 
    text-align: center; 
    transition: transform 0.2s; 
}

.sidebar a:hover {
    transform: scale(1.1); 
}

.sidebar svg {
    width: 40px; 
    height: 40px; 
}

.content {
    margin-left: 100px;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container_cadastrarp {
    width: 100%;
    max-width: 90%; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    text-align: center;
}

.h2_cadastrarp {
    color: #FF6F91;
    font-size: 24px;
    margin-bottom: 20px;
}

.form_cadastrarp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-column_cadastrarp {
    display: flex;
    flex-direction: column;
}

.form-group_cadastrarp {
    margin-bottom: 15px;
    text-align: left;
}

.label_cadastrarp {
    display: block;
    font-size: 14px;
    color: #FF6F91;
    margin-bottom: 5px;
}

.input_cadastrarp {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #FFB6C1;
    background-color: #FFF5F8;
    font-size: 14px;
    color: #333;
    outline: none;
}

.input_cadastrarp:focus {
    border-color: #FF6F91;
}

.btn-center_cadastrarp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    grid-column: span 2;
}

.button_cadastrarp {
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #FF6F91;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    grid-column: span 2;
}

.button_cadastrarp:hover {
    background-color: #FF3D68;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: #FF6F91;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.avatar img {
    width: 70px;
    height: 70px;
}

.icon-heart {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    color: #FF6F91;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .content {
        margin-left: 150px;
    }

    .sidebar {
        width: 80px;
    }
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 10px;
    }

    .sidebar {
        width: 60px;
    }

    .form_cadastrarp {
        grid-template-columns: 1fr;
    }

    .button_cadastrarp {
        width: 80%;
    }
    .container-edit-diagnosis {
        padding: 10px;
    }

    .form-group-edit-diagnosis {
        max-width: 100%;
    }

    .btn-edit-diagnosis {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        padding: 5px;
    }

    .container_cadastrarp, .container-edit-diagnosis {
        padding: 10px;
        width: 100%; /* Ajuste total para telas pequenas */
    }

    .button_cadastrarp, .btn-edit-diagnosis {
        width: 100%;
    }

    .form_cadastrarp, .form-edit-diagnosis {
        display: block; /* Muda de grid para bloco em telas menores */
        width: 100%;
    }

}


.cards1_pacient, .cards_pacient {
    display: flex;
    flex-wrap: wrap;
    gap: 80px; /* Aumenta o espaçamento entre os cards */
    justify-content: center;
    margin: 20px;
}

.card_pacient, .card_low_pacient {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    text-align: center;
}

.conteudo_card_pacient{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.card_pacient h2, .card_low_pacient h2 {
    color: #FF6F91;
    font-size: 18px;
    margin-bottom: 10px;
}

.card_pacient p, .card_low_pacient p {
    color: #333;
    font-size: 14px;
}

.card_low_pacient img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.card_diagnostico{
    background-color: #FF6F91;
    padding: 20px;
    border-radius: 20px;
}

.botao-editar-diag {
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: #FF3D68;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    grid-column: span 2;
    text-decoration: none;
}

.botao-editar-diag:hover {
    background-color: #ffc1d0;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.image_title_pacient{
    text-decoration: none;
}

.image_title_pacient_a{
    text-decoration: none;
}

.header_pacient {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espaço entre o header e os outros elementos */
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 10; /* Garante que o header fique acima dos outros elementos */
}

.content-pacient {
    margin-top: 200px; /* Dá espaço suficiente para que o header apareça antes do conteúdo */
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-add-diag {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #ffc1d0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    grid-column: span 2;
    text-decoration: none;
}

.botao-add-diag:hover {
    background-color: #FF3D68;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

/* Ajustes gerais da página de diagnóstico */
.container-edit-diagnosis {
    width: 100%;
    max-width: 90%; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    text-align: center;
}

.h1-edit-diagnosis {
    color: #FF6F91;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Formulário de edição */
.form-edit-diagnosis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group-edit-diagnosis {
    width: 100%;
    max-width: 1100px;
    text-align: left;
}

.label-edit-diagnosis {
    font-size: 18px;
    color: #FF6F91;
    margin-bottom: 10px;
    display: block;
}

.textarea-edit-diagnosis {
    width: 100%;
    height: 350px;
    border: 1px solid #FFB6C1;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    background-color: #FFF5F8;
    color: #333;
    outline: none;
    resize: none;
}

.textarea-edit-diagnosis:focus {
    border-color: #FF6F91;
}

/* Botão de salvar */
.btn-edit-diagnosis {
    background-color: #FF6F91;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-edit-diagnosis:hover {
    background-color: #FF3D68;
}

.search-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 5px; /* Espaço entre a barra de pesquisa e os cards */
}

.search-doctor-dashboard {
    max-width: 1000px; /* Define uma largura máxima para a barra de pesquisa */
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.search-doctor-dashboard {
    max-width: 400px;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 20px;
    background-color: #fff;
}

.card-title {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.card-title-a{
    text-decoration: none;
}

.card-text {
    color: #777;
}

.btn-primary {
    background-color: #00abe4; /* Cor mais suave para o botão de editar */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
}

.btn-danger {
    background-color: #f44336; /* Cor mais suave para o botão de excluir */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
}

.dropup .btn-info {
    background-color: #00bfff; /* Cor do botão de adicionar paciente */
    border-radius: 20%;
}

/* Melhorar espaçamento entre os cards */
.row .col-md-4 {
    margin-bottom: 20px;
}

.fixed svg {
    /* Reduz o tamanho dos ícones */
    margin-left: 10px;
    width: 4.5rem;
    height: 4.5rem; 
    color: white; /* Define a cor dos ícones como branco */
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF6F91; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.floating-btn svg {
    width: 40px;
    height: 40px;
}

.notes {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 15px; /* Aumenta o espaço interno */
    text-align: left;
    margin-top: 20px;
}

.notes p {
    margin-bottom: 15px; /* Aumenta o espaço entre os parágrafos */
}

.notes textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px; /* Espaçamento acima do textarea */
}

.card-ult {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.card-ult h2 {
    background-color: #FF6F91;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
    color: #333;
}
